.wahdapp-btn {
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.6s;
  -webkit-appearance: none;
  width: 320px;
  height: 72px;
  border-radius: 12px;
  background-image: linear-gradient(115deg, #6dc7b0, #78c8ef 102%);
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  font-family: 'Sen', sans-serif;

  &:hover {
    box-shadow: 0 8px 40px 0 #12967a;
    transform: translateY(-5px);
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}
