section.download {
  padding-top: 45px;
  padding-bottom: 50px;
  background: #f5f8fd;
  h2 {
    font-size: 54px;
    font-weight: bold;
    letter-spacing: 1;
    color: #545454;
    text-shadow: 0 2px 24px rgba(0, 0, 0, 0.12);
    margin-bottom: 45px;
    text-align: center;
    @media screen and (max-width: 1024px) {
      font-size: 40px;
    }
    @media screen and (max-width: 768px) {
      font-size: 30px;
    }
  }
  .app-download-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 764px) {
      flex-direction: column;
    }

    .store-img {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      transition: 0.3s;

      &:hover {
        transform: translateY(-6px);
      }
    }
  }
}
