footer {
  .background-cover {
    position: relative;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #12967a;
  }
  .header-block {
    text-align: center;
    margin-top: 160px;
    width: 60%;
    max-width: 1400px;
    padding: 0 30px;

    @media screen and (max-width: 768px) {
      margin-top: 50px;
      padding: 0 70px;
      width: 100%;
    }
    @media screen and (max-width: 568px) {
      margin-top: 50px;
      padding: 0 25px;
      width: 100%;
    }

    h1 {
      margin-bottom: 12px;
      text-shadow: 0 2px 24px rgba(0, 0, 0, 0.18);
      font-size: 54px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 2.5px;
      text-align: center;
      color: #ffffff;
      @media screen and (max-width: 1024px) {
        font-size: 40px;
      }
      @media screen and (max-width: 768px) {
        font-size: 30px;
      }
      @media screen and (max-width: 568px) {
        font-size: 30px;
      }
    }

    span.subheader {
      text-shadow: 0 2px 424px rgba(0, 0, 0, 0.35);
      font-size: 24px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: 1px;
      text-align: center;
      color: #ffffff;

      @media screen and (max-width: 1024px) {
        font-size: 20px;
        line-height: 1.57;
        letter-spacing: 0.6px;
        font-weight: 500;
      }
      @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 1.57;
        letter-spacing: 0.6px;
        font-weight: 500;
      }
      @media screen and (max-width: 568px) {
        line-height: 1.57;
        letter-spacing: 0.6px;
        font-weight: 500;
      }
    }

    .subscribe {
      width: 75%;
      padding: 0 30px;
      margin: auto;
      margin-top: 35px;
      position: relative;

      @media screen and (max-width: 768px) {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        margin-bottom: 35px;
      }

      input {
        height: 72px;
        border-radius: 12px;
        box-shadow: 0 2px 32px 0 rgba(0, 0, 0, 0.17);
        background-image: linear-gradient(275deg, #f7c598 2%, #ff8886 100%);
        padding: 20px 30px;
        outline: none;
        width: 100%;
        border: none;
        text-shadow: 0 2px 424px rgba(0, 0, 0, 0.35);
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 1.09px;
        color: #ffffff;
        margin-bottom: 10px;

        &::placeholder {
          opacity: 0.5;
          text-shadow: 0 2px 424px rgba(0, 0, 0, 0.35);
          font-size: 24px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: 1.09px;
          color: #ffffff;
        }
      }

      .subscribe-button {
        height: 64px;
        border-radius: 12px;
        box-shadow: 0 2px 32px 0 rgba(0, 0, 0, 0.17);
        background-image: linear-gradient(283deg, #f7c598 2%, #ff8886 99%);
        padding: 18px 35px;
        display: inline-block;
        position: absolute;
        right: 35px;
        top: 5px;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
          box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.4);
        }

        @media screen and (max-width: 1024px) {
          position: initial;
          width: 100%;
        }

        span {
          font-size: 24px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 1.2px;
          text-align: center;
          color: #f6f8f9;
        }
      }
    }
  }

  .columns {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 70px 0;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      max-width: 90%;
    }

    .footer-col {
      width: 220px;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;

      span.label {
        text-transform: uppercase;
        margin-bottom: 18px;
        opacity: 0.62;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2.5px;
        color: #f6f8f9;
      }

      a {
        cursor: pointer;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.2px;
        color: #f6f8f9;
        text-decoration: none;
      }

      .trademark {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: 0.8px;
        color: #f6f8f9;
        &.bold {
          font-weight: bold;
        }
      }

      &.down {
        justify-content: flex-end;
        width: 250px;

        .social-icons {
          display: flex;
          margin-bottom: 20px;
          img {
            margin-right: 8px;
            transition: 0.4s;
            cursor: pointer;
            &:hover {
              transform: translateY(-4px);
            }
          }
        }
      }
    }
  }
}

.light-button {
  height: 64px;
  border-radius: 12px;
  box-shadow: 0 2px 32px 0 rgba(0, 0, 0, 0.17);
  background-image: linear-gradient(283deg, #f7c598 2%, #ff8886 99%);
  padding: 18px 49px;
  display: inline-block;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.35);
  }

  @media screen and (max-width: 1024px) {
    position: initial;
    width: 100%;
  }

  span {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    text-align: center;
    color: #f6f8f9;
  }
}
