nav.desktop-nav {
  width: 100%;
  position: absolute;
  z-index: 1;

  .container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
      max-width: 90%;
    }
  }

  .title-logo {
    font-family: Sen;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    transition: 0.4s;
  }

  ul {
    display: flex;
    justify-content: space-between;

    li {
      list-style: none;
      a {
        height: 24px;
        opacity: 0.8;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff;
        transition: 0.4s;
        margin-left: 20px;

        &.active {
          opacity: 1;
        }

        &:hover {
          opacity: 1;
        }
      }

      .logo {
        position: relative;
        bottom: 30px;
        cursor: pointer;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.mobile-nav-wrapper {
  position: relative;
  width: 100%;
  z-index: 99;
  max-width: 90%;
  margin: 0 auto;

  .mobile-nav-logo {
    display: none;

    img {
      height: 60px;
    }
    @media screen and (max-width: 1024px) {
      display: block;
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .menu-icon {
    display: none;
    img {
      height: 20px;
      width: 20px;
    }
    @media screen and (max-width: 1024px) {
      display: block;
      position: absolute;
      top: 17px;
    }
  }
}

.menu-btn {
  @media screen and (min-width: 1024px) {
    display: none;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 17px;
  right: 0;

  span:nth-child(1),
  span:nth-child(2),
  span:nth-child(3) {
    transition: 0.2s;
    position: relative;
    display: block;
    width: 20px;
    // margin: 0 auto;
    height: 2px;
    border-radius: 5px;
    background-color: #fff;
    // &.pink {
    //   background-color: $pink;
    // }
  }

  span:nth-child(2) {
    background-color: transparent;
  }

  span:nth-child(2):after,
  span:nth-child(2):before {
    content: "";
    position: absolute;
    transition: 0.2s;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  &.active {
    span:nth-child(1),
    span:nth-child(3) {
      width: 0;
    }
    span:nth-child(2) {
      &:after {
        transform: rotate(45deg);
      }
      &:before {
        transform: rotate(-45deg);
      }
    }
  }
}

.pink-menu {
  color: #12967a;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgba(227, 109, 119, 0.25);
}

.fix-mobile-menu {
  @media screen and (min-width: 1024px) {
    display: none;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
  z-index: 10;
  position: fixed;
  line-height: 1.2;
  overflow: hidden;
  width: 100%;
  height: 0;
  opacity: 0;
  background-image: linear-gradient(136deg, #12967a, #6dc7b0 101%);
  img {
    position: relative;
    display: block;
    margin: 50px auto 0;
    width: 40%;
  }
  a {
    text-shadow: 0 2px 24px rgba(0, 0, 0, 0.3);
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.12px;
    color: #ffffff;
    text-align: center;
    display: block;
    margin-bottom: 20px;
  }
  &.active {
    height: 100vh;
    opacity: 0.95;
  }
}
