// @import './index.scss';

#home {
  .top-header {
    position: relative;
    width: 100%;
    .background-cover {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.55));
      @media screen and (max-width: 1024px) {
        min-height: unset;
      }

      .container {
        max-width: 960px;
        margin: 0 auto;
        padding-top: 120px;

        @media screen and (max-width: 1024px) {
          max-width: 90%;
          padding-top: 0;
        }
      }

      .header-bg {
        object-fit: cover;
        z-index: -1;
      }
    }

    .download-btn {
      margin-top: 40px;

      @media screen and (max-width: 1024px) {
        padding-bottom: 40px;
      }
    }
  }

  #benefits {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 90px;
    background: #f5f8fd;

    .container {
      max-width: 960px;
      margin: 0 auto;

      @media screen and (max-width: 1024px) {
        max-width: 90%;
      }
    }

    h2 {
      font-size: 45px;
      font-weight: bold;
      letter-spacing: 1;
      color: #545454;
      text-align: center;

      text-shadow: 0 2px 24px rgba(0, 0, 0, 0.12);
      margin-bottom: 35px;
      @media screen and (max-width: 1024px) {
        font-size: 38px;
      }
      @media screen and (max-width: 768px) {
        font-size: 32px;
      }
    }

    .cards {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;

      @media screen and (max-width: 1024px) {
        flex-direction: column;
        justify-content: center;
      }

      .card {
        display: flex;
        flex-direction: column;
        min-height: 360px;
        height: auto;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
        transition: 0.4s;
        max-width: 280px;
        padding: 25px;

        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.35);
        }

        @media screen and (max-width: 1024px) {
          max-width: unset;
          min-height: unset;
          height: 100%;
          width: 100%;
          margin-bottom: 25px;
        }

        h4 {
          font-size: 24px;
          font-weight: bold;
          color: #545454;
          margin-top: 15px;
          margin-bottom: 20px;
        }

        p {
          font-size: 16px;
          line-height: 1.65;
          letter-spacing: 0.8px;
          color: #625957;
        }
      }
    }
  }

  #content {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;

    .container {
      max-width: 960px;
      margin: 0 auto;

      @media screen and (max-width: 1024px) {
        max-width: 90%;
      }
    }

    .section {
      margin-top: 30px;
      h2 {
        font-size: 45px;
        font-weight: bold;
        letter-spacing: 1;
        color: #545454;

        text-shadow: 0 2px 24px rgba(0, 0, 0, 0.12);
        margin-bottom: 35px;
        @media screen and (max-width: 1024px) {
          font-size: 38px;
        }
        @media screen and (max-width: 768px) {
          font-size: 32px;
        }
      }
      h3 {
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 1;
        color: #545454;

        text-shadow: 0 2px 24px rgba(0, 0, 0, 0.12);
        margin-bottom: 18px;
        @media screen and (max-width: 1024px) {
          font-size: 28px;
        }
        @media screen and (max-width: 768px) {
          font-size: 22px;
        }
      }
      span.subheader {
        font-size: 20px;
        line-height: 1.65;
        letter-spacing: 0.8px;
        color: #625957;
      }
      .row-img {
        width: 45%;

        @media screen and (max-width: 1024px) {
          width: 100%;
        }
      }
      .section-img {
        transition: 0.4s;
        &:hover {
          transform: scale(1.02);
        }
      }
      .text-content {
        width: 55%;
        &.full {
          width: 100%;
          text-align: center;
        }
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
      }

      &.row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 1024px) {
          flex-direction: column;
          padding-top: 30px;
        }

        .text-content {
          width: 50%;
          padding: 35px;
          @media screen and (max-width: 1024px) {
            width: 100%;
            padding: 0;
            margin-bottom: 30px;
          }
        }
        img {
          width: 50%;
          max-height: 300px;
          object-fit: contain;
          @media screen and (max-width: 1024px) {
            width: 100%;
          }
        }
      }

      &.reverse {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 1024px) {
          flex-direction: column-reverse;
          padding-top: 30px;
        }

        .text-content {
          width: 50%;
          padding: 35px;
          @media screen and (max-width: 1024px) {
            width: 100%;
            padding: 0;
            margin-bottom: 30px;
          }
        }
        img {
          width: 50%;
          max-height: 300px;
          object-fit: contain;
          @media screen and (max-width: 1024px) {
            width: 100%;
          }
        }
      }
    }
  }

  #download {
    padding-top: 45px;
    padding-bottom: 50px;
    background: #e8f9f3;
    h2 {
      text-shadow: 0 2px 24px rgba(0, 0, 0, 0.12);
      margin-bottom: 45px;
      text-align: center;
      font-size: 54px;
      font-weight: bold;
      letter-spacing: 1px;
      color: 545454;
      margin-bottom: 15px;

      @media screen and (max-width: 1024px) {
        font-size: 40px;
      }
      @media screen and (max-width: 768px) {
        font-size: 30px;
      }
    }
    .app-download-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 764px) {
        flex-direction: column;
      }

      .store-img {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        transition: 0.3s;

        &:hover {
          transform: translateY(-6px);
        }
      }
    }
  }
}
